{% extends 'user/base.html' %}

{% block body %}
    <h1>Consultation Request</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}
    <p>User ID: {{ user_id }}</p>
    <form method="POST" action="{% url 'create_meeting' %}">
        {% csrf_token %}
        <label>Topic</label>
        <input type = "text" name = 'topic' required>
        <label>Meeting duration(in minutes)</label>
        <input type = 'number' name = 'duration' required>
        <button type="submit" class="btn btn-primary">Accept Consultation Request</button>
    </form>
{% endblock %}
