{% extends 'user/base.html' %}
{% load static %}
{% block title %}
PatientList
{% endblock %}
{% block addhead %}
<style>
    body {
        background: #eeeded;
    }

    .card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #FFF;
    }

    .card:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .card>.card-inner {
        padding: 10px;
    }

    .card .header h2,
    h3 {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .card .header {
        margin-bottom: 5px;
    }

    .card img {
        width: 100%;
    }

    .modal {
        z-index: 9999;
    }

    body.modal-open {
        overflow: hidden;
    }
</style>
<!-- Required Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Required jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Required Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block body %}
<div class="section-title mt-5">
    <h2>Reviver</h2>
    <p>Your upcoming Schedule</p>
</div>
{% if messages %}
    <div class="alert alert-dismissible alert-danger {% for message in messages %}alert-{{ message.tags }}{% endfor %}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %}
        <p class="mb-0">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}


<div class="row">
    {% for pat, data, req, meeting_id in resultset %}
    
    <div class="col-md-6">
        <div class="card">
            
            <div class="card-body">
                <div class="row">
                    
                    <p> Meeting Scheduled at: <b>{{ pat.created_at }}</b> </p>
                    
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="arrow-right"></div>
                                <div class="image">
                                    <img src="{{ pat.image.url }}" alt="no image found" style="width: 235px; height: 70px; object-fit: contain; object-position: center;">
                                </div>
                                <div class="card-inner text-center">
                                    <div class="header">
                                        <div class="row">
                                            
                                            <p class = "sm mt-2"> {{ pat.name }}</p>
                                            <h7 class="fw-bold">PatientID = {{ pat.id }} </h7>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="arrow-left"></div>
                                <div class="image">
                                    <img src="{{ data.image.url }}" alt="no image found" style="width: 235px; height: 70px; object-fit: contain; object-position: center;">
                                </div>
                                <div class="card-inner text-center mt-2">
                                    <div class="header">
                                        <div class="row">
                                            
                                            <p class = "sm mt-2"> {{ data.name }}</p>
                                            {% if role == "user" or role == "User" %}
                                            <h7 class="fw-bold">Doctor</h7>
                                            {% endif %}
                                            {% if role == "doctor" or role == "Doctor" %}
                                            <h7 class="fw-bold">Mediator</h7>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if role == "User" or role == "user" %}
                    <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">Meeting Join Url <b>(Meeting ID : {{ meeting_id }}) </b></h5>
                                    
                                        {% if req.payment_status == "VALID" %} 
                                        <h5 class="text-success">Payment is completed</h5>

                                        
                                        {% else %}
                                        <a href="{% url 'paynow' fees=data.visits patid=pat.id docid=data.id meetid=req.id %}">
                                            <button type="button" class="btn btn-danger"> Pay {{ data.visits }} BDT</button></a> 
                                    
                                            {% endif %}
                                </div>

                              <div class="card-body">
                                <p class="card-text"><strong>URL:</strong> <a href="{{ req.join_url }}" class="text-truncate d-inline-block" style="max-width: 80%;">{{ req.join_url }}</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% if role == "Doctor" or role == "doctor" %}
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">Meeting Join Url <b>(Meeting ID : {{ meeting_id }}) </b></h5>
                                    
                                        {% if req.payment_status == "VALID" %} 
                                        <h5 class="text-success">Payment is completed</h5>

                                        
                                        {% else %}
                                        <h5 class="text-danger">Payment is incomplete.</h5>
                                    
                                            {% endif %}
                                </div>
                              <div class="card-body">
                                <p class="card-text"><strong>URL:</strong> <a href="{{ req.start_meeting_url }}" class="text-truncate d-inline-block" style="max-width: 80%;">{{ req.start_meeting_url }}</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}

</div>
{% endblock %}