{% extends 'user/base.html' %}

{% block title %} 
 Signup
{% endblock %}



{% block body %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Signup</h4>
        </div>
        <div class="card-body">
          <div class="container">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
            </div>
            <div class="form-group">
              <label for="role">Signup as</label>
              <select class="form-control" id="role" name="role">
                <option value="user">User</option>
                <option value="doctor">Doctor</option>
              </select>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password1" required>
            </div>
            <div class="form-group">
              <label for="password_confirm">Confirm Password</label>
              <input type="password" class="form-control" id="password_confirm" name="password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
