{% extends 'user/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block addhead %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
  body {
    margin-top: 20px;
    background: #f8f8f8
  }
</style>

{% endblock %}

{% block body %}

<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
      <div class="card p-3">
        <div class="e-navlist e-navlist--active-bg">
          
        </div>
      </div>
    </div>

    <div class="col">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded"
                        style="height: 140px; background-color: rgb(233, 236, 239);">
                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;"><img src="{{ data.image.url }}"
                            width="140px" height="140px"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ data.name }}</h4>
                      <p class="mb-0">{{ user.id }}</p>
                      <div class="text-muted"><small> Last seen at {{ user_profile.last_seen }} </small></div>
                      <div class="mt-2">

                        <!-- Hidden file input element -->

                        <!-- Script to trigger file input on button click -->

                        <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                          data-bs-target="#request-modal">
                          &#x2709;
                          <span>Send Request</span>
                        </button>

                        <div class="modal fade" id="request-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="request-modalLabel">New message</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="POST" action="{% url 'doctor_detail' data.id  %}">
                                  {% csrf_token %}
                                  <div class="mb-3">

                                    <label for="recipient-name" class="col-form-label">Recipient:</label>

                                    <input type="text" class="form-control" id="recipient-name" value='{{ data.name }}'
                                      readonly>
                                  </div>
                                  <div class="mb-3">

                                    <label for="recipient-name" class="col-form-label">Patient ID</label>

                                    <select class="form-select" name="id" aria-label="Default select example">
                                      <option selected>Select Patient</option>
                                      {% for patobj in patientobj %}

                                      <option value="{{ patobj.id }}">{{ patobj.name }} (ID: {{ patobj.id }})</option>
                                      {% endfor %}
                                    </select>

                                  </div>
                                  <div>


                                  </div>
                                  <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" rows="8" id="message-text"
                                      name='description'></textarea>
                                  </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" value="Submit">Send Request</button>
                              </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <span class="badge badge-secondary">administrator</span>
                      <div class="text-muted"><small>Joined {{ user_profile.join_date }}</small></div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="" class="active nav-link">Profile</a></li>
                </ul>
                <div class="card border-secondary">
                  <div class="card-body">
                    <h5 class="card-title">Doctor Profile</h5>
                    <hr>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Email:</strong></div>
                      <div class="col-md-8"><span id="doc-email" class="form-control">{{ data.doctoremail }}</span>
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Registration Type:</strong></div>
                      <div class="col-md-8"><span id="reg-type" class="form-control">{{ data.regtype }}</span></div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Registration Number:</strong></div>
                      <div class="col-md-8"><span id="reg-num" class="form-control"> {{ data.regnum }}</span></div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Bio:</strong></div>
                      <div class="col-md-8"><textarea id="bio" class="form-control" rows="3"> {{ data.bio }}</textarea>
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Working Hospital:</strong></div>
                      <div class="col-md-8"><span id="hospital" class="form-control">{{ data.working_hospital }}</span>
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Designation:</strong></div>
                      <div class="col-md-8"><span id="designation" class="form-control">{{ data.designation }}</span>
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-md-4"><strong>Chamber Address:</strong></div>
                      <div class="col-md-8"><span id="chamber-address" class="form-control"> {{ data.chamberaddress }}</span></div>
                    </div>

                  </div>
                </div>






              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            <div class="card-body">
              <div class="px-xl-3">
                <div class="row" id="activestatdoc"><label>Active date</label></div>
                <div class="row"><input type='date' name='active_day' placeholder="{{ data.active_day }}"
                    value="{{ data.active_day|date:'Y-m-d' }}"></div>
                <div class="row"><label>Active Start Time</label></div>
                <div class="row"><input type='time' name='active_time_start' placeholder="{{ data.active_time_start }}"
                    value="{{ data.active_time_start|time:'H:i' }}"></div>
                <div class="row"><label>Active End Time</label></div>
                <div class="row"><input type='time' name='active_time_end' placeholder="{{ data.active_time_end }}"
                    value="{{ data.active_time_end|time:'H:i' }}"></div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}