{% extends 'user/base.html' %}

{% block title %} 
form 
{% endblock %}

{% block body %} 

<div class="container mt-top-14">
    <div class="card p-2">
        <form action=""  enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <label class="form-control-label mt-3 mb-2">Name</label>
            <input type="text"  required name="name" class="form-control mb-2">

            <label class="form-control-label mt-3 mb-2">Dob</label>
            <input type="date"  required name="dob" class="form-control mb-2">

            <label class="form-control-label mt-3 mb-2">occupation</label>
            <input type="text"  required name="occupation" class="form-control mb-2">

            <label class="form-control-label mt-3 mb-2">monthly_income</label>
            <input type="number"  required name="monthly_income" class="form-control mb-2">
            
            
            <label class="form-control-label mt-3 mb-2">address</label>
            <input type="text"  required name="address" class="form-control mb-2">

            <label class="form-control-label mt-3 mb-2">NID</label>
            <input type="text" placeholder="Unique NID"  required name="NID" class="form-control mb-2">
            
            <label class="form-control-label mt-3 mb-2">image</label>
            <input type="file" name="image" class="form-control mb-2">

            <label class="form-control-label mt-3 mb-2">gender</label>
            <select selected="selected" name="gender" class="form-control" >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            

            
            <!-- {{ User.as_p }} -->
            <input type="submit" class="btn btn-success mt-3" value="Submit">
        </form>
        <a class="btn btn-info m-2 p-1" href="{% url 'userhome' %}">Back</a>
    </div>
</div>
{% endblock %}