<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="MuiPaper-root-433949 MuiCard-root-433948 tutor-card-mui MuiPaper-elevation1-433953 MuiPaper-rounded-433950"
        style="margin-bottom: 20px; max-width: 32.5%; min-width: 370px; flex-grow: 1; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border: 1px solid rgb(221, 221, 221); box-sizing: border-box; border-radius: 8px;">
        <div class="MuiCardContent-root-433977"
            style="height: 100%; display: flex; flex-flow: column; justify-content: space-between; border-radius: inherit; padding: 0px;">
            <div class="MuiCardHeader-root-433978 jss433947" style="overflow: hidden; cursor: pointer;">
                <div class="MuiCardHeader-avatar-433979">
                    <div style="position: relative;"><img
                            src="https://camblyavatars.s3.amazonaws.com/6288c3f6082a60c25d5cd033s200?h=19cedc9f51caf280d762b7a98cad6596"
                            alt="Tutor Christine avatar" style="height: 100px; width: 100px; border-radius: 8px;">
                        <div title="Available"
                            style="width: 15px; height: 15px; border-radius: 4px; border: 2px solid rgb(255, 255, 255); position: absolute; bottom: -7px; background-color: rgb(150, 196, 94); margin-left: -7px; left: 2.5%;">
                        </div>
                    </div>
                </div>
                <div class="MuiCardHeader-content-433981"><span
                        class="MuiTypography-root-433820 MuiCardHeader-title-433982 MuiTypography-body2-433821 MuiTypography-displayBlock-433849"
                        style="font-size: 18.5px; line-height: 22px; padding-right: 50px;"><span class="tutor-name"
                            style="font-weight: 600;">Tutor Christine</span></span><span
                        class="MuiTypography-root-433820 MuiCardHeader-subheader-433983 MuiTypography-body2-433821 MuiTypography-colorTextSecondary-433846 MuiTypography-displayBlock-433849"
                        stye="[object Object]">
                        <div style="display: flex; flex-flow: column; font-size: 12px; line-height: 12px;">
                            <div style="height: 2px;"></div><span
                                style="display: flex; align-items: center; color: rgb(72, 72, 72); font-size: 12px; flex-wrap: wrap;"><svg
                                    class="MuiSvgIcon-root-433892" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true" style="height: 12px; width: 12px; color: rgb(238, 163, 32);">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                    </path>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                </svg><svg class="MuiSvgIcon-root-433892" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true" style="height: 12px; width: 12px; color: rgb(238, 163, 32);">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                    </path>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                </svg><svg class="MuiSvgIcon-root-433892" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true" style="height: 12px; width: 12px; color: rgb(238, 163, 32);">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                    </path>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                </svg><svg class="MuiSvgIcon-root-433892" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true" style="height: 12px; width: 12px; color: rgb(238, 163, 32);">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                    </path>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                </svg><svg class="MuiSvgIcon-root-433892" focusable="false" viewBox="0 0 24 24"
                                    aria-hidden="true" style="height: 12px; width: 12px; color: rgb(238, 163, 32);">
                                    <defs>
                                        <path id="a" d="M0 0h24v24H0V0z"></path>
                                    </defs>
                                    <path
                                        d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z">
                                    </path>
                                </svg>&nbsp;4.8&nbsp;</span>
                            <div style="height: 2px;"></div><span
                                style="display: flex; align-items: center; line-height: 13px; margin-left: -5px; margin-right: -5px; padding-left: 0px; padding-right: 25px;"><img
                                    id="badge" alt="flag of The United States"
                                    src="/static/images/country-flag-icons/US.png"
                                    style="width: 32px; height: 32px; margin-right: 5px; margin-left: 5px;">United
                                States</span>
                            <div
                                style="display: flex; flex-flow: row wrap; align-items: center; margin: 0px -3px -5px;">
                                <div class="MuiChip-root-433984"
                                    style="margin: 2px 3px 0px; border-radius: 4px; font-size: 10px; line-height: 18px; color: rgb(119, 119, 119); background: rgb(245, 245, 245);">
                                    <span class="MuiChip-label-434005">500+ chats</span></div>
                            </div>
                        </div>
                    </span></div>
                <div class="MuiCardHeader-action-433980"><span role="checkbox" aria-checked="false"
                        aria-label="Favorite" tabindex="-1" style="outline: none;"><button
                            class="MuiButtonBase-root-433934 MuiIconButton-root-434013" tabindex="0" type="button"><span
                                class="MuiIconButton-label-434020"><svg class="MuiSvgIcon-root-433892" focusable="false"
                                    viewBox="0 0 24 24" aria-hidden="true"
                                    style="color: rgb(119, 119, 119); font-size: 25px;">
                                    <path
                                        d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z">
                                    </path>
                                </svg></span><span class="MuiTouchRipple-root-433935"></span></button></span></div>
            </div>
            <div class="MuiCardContent-root-433977"
                style="padding-top: 0px; font-size: 14px; color: rgb(119, 119, 119); font-weight: 300; max-height: 150px; overflow-y: auto; margin-bottom: auto; cursor: pointer;">
                <p style="margin-bottom: 0px; font-family: Roboto, sans-serif;">
                <div style="direction: ltr;">Hello I'm Christine or you can call me Tutor Christine. Let's practice your
                    English!</div>
                </p>
            </div>
            <div class="MuiCardActions-root-434021 MuiCardActions-spacing-434022"
                style="display: flex; justify-content: flex-end; align-items: center; padding-top: 0px; height: 50px; border-bottom-right-radius: inherit; border-bottom-left-radius: inherit;">
                <button class="btn btn-sm undefined" title="profile"
                    style="border-width: 0px; margin-left: 3px; margin-right: 3px;">PROFILE</button><button
                    class="btn btn-sm btn-tertiary" title="call"
                    style="border-width: 0px; margin-left: 3px; margin-right: 3px;">CALL</button></div>
        </div>
    </div>

    <!-- <div class="container mt-4">
        <div class="card p-2">
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <label class="form-control-label mt-3 mb-2">Name</label>
                <input type="text" required name="name" class="form-control mb-2">


                <label class="form-control-label mt-3 mb-2">Diagnosis</label>
                <input type="text" required name="diagnosis" class="form-control mb-2">

                <label class="form-control-label mt-3 mb-2">Age</label>
                <input type="number" required name="age" class="form-control mb-2">

                <label class="form-control-label mt-3 mb-2">gender</label>
                <select selected="selected" name="gender" class="form-control">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>

                <input type="submit" class="btn btn-success mt-3" value="Submit">
            </form>
            <a class="btn btn-info m-2 p-1" href="{% url 'userhome' %">Back</a>
        </div>
    </div> -->
</body>

</html>